<div class="home-masthead ">
	<div class="container">  
	  <h1>Develop your idea muscle with regular exercise</h1>
	  <h2>Real businesses, real inspiration, real difference</h2>

	  <%= link_to "Start now", '#', class: "btn btn-large btn-primary call-to-action" %>
  </div>
</div>

<div class="container">
	<div class="section-headline">How Does It Work?</div>
	<div class="row spaced">
	  <div class="col-md-4">
	  	<div class="icons" data-icon="&#xe00e;"></div>
	  	<div class="icon-headline">Exercise Your Creativity</div>
	  	<div class="icon-text">Generating 10 ideas daily gives you the exercise you need to flex your idea muscle. Stick to the simple exercise for 6 months to become a true Idea Machine. Observe how it transforms your life!</div>
	  </div>
	  <div class="col-md-4">
	  	<div class="icons" data-icon="&#xe000;"></div>
	  	<div class="icon-headline">Real Companies, Real Help</div>
	  	<div class="icon-text">Why brainstorm ideas about random subjects when you can give valuable feedback to existing companies and real entrepreneurs. Create real value and connect with great people.</div>
	  </div>
	  <div class="col-md-4">
	  	<div class="icons" data-icon="&#xe014;"></div>
	  	<div class="icon-headline">Crowdsource Your Brainstorming</div>
	  	<div class="icon-text">Define your problem and receive fresh daily ideas from the community. It's free!</div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="divider-arrow">
		<span>
			<%= image_tag("divider-arrow.png")  %>
		</span>
	</div>
	<div class="section-headline">Take Today's Challenge</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag("thumbnail.jpg", class: "thumbnail center-block")  %>

			<div class='l-quote quote'>
			  <blockquote>
			    <p>We are a company producing tailor made shirts. I'd love to hear your ideas on how we can improve our website, user experience, how we can better promote our product, what kind of partnerships to work on, etc.</p>
			  </blockquote>
			  <cite>Jan Klimo, <a target="_blank" href="#">Big Mango Ltd</a></cite>
			</div>
		</div>
		<div class="col-md-6 left-separator">
			<div class="section-headline">Brainstorm</div>
			<div class="brainstorm-icon-text">
				<%= image_tag("link_icon.png", class: "brainstorm-icons")  %>Visit <a target="_blank" href="#">Big Mango Ltd</a>. Browse around to get inspiration for your ideas.
			</div>
			<div class="brainstorm-icon-text">
				<div class="brainstorm-icons-font" data-icon="&#xe00e;"></div>Come up with 10 ideas and submit them below!
			</div>
				
			<div class="clearfix"></div>
			<div class="section-headline">Submit</div>
			<p class="submit-prompt">You'll need to sign up first. It takes no more than 30 seconds.</p>
				<%= link_to user_omniauth_authorize_path(:facebook) do  %>
					<%= image_tag("fb_sign_in.png", class: "center-block")  %>
				<% end %> 

				<%= link_to "#" do  %>
					<%= image_tag("twitter_sign_in.png", class: "center-block")  %>
				<% end %>
		</div>
	</div>
	 
</div>

<div class="container">
	<div class="divider-arrow">
		<span>
			<%= image_tag("divider-arrow.png")  %>
		</span>
	</div>
	<div class="section-headline">All Time Idea Machines</div>
	<table class="table table-hover all-time-table ">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Name</th>
          <th>Ideas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><%= image_tag("thumbnail.jpg", class: "thumbnail-table")  %></td>
          <td>Tim N.</td>
          <td>2,450</td>
        </tr>
        <tr>
          <td>2</td>
          <td><%= image_tag("thumbnail.jpg", class: "thumbnail-table")  %></td>
          <td>Mike F.</td>
          <td>2,120</td>
        </tr>
        <tr>
          <td>3</td>
          <td><%= image_tag("thumbnail.jpg", class: "thumbnail-table")  %></td>
          <td>Jim S.</td>
          <td>1,370</td>
        </tr>
        <tr>
          <td>4</td>
          <td><%= image_tag("thumbnail.jpg", class: "thumbnail-table")  %></td>
          <td>Steven J.</td>
          <td>1,020</td>
        </tr>
        <tr>
          <td>5</td>
          <td><%= image_tag("thumbnail.jpg", class: "thumbnail-table")  %></td>
          <td>Neil W.</td>
          <td>850</td>
        </tr>
      </tbody>
    </table>
		
		<p class="text-center">
    	<%= link_to "I wanna be an Idea Machine", '#', class: "btn btn-large btn-primary call-to-action" %>
    </p>
	 
</div>

