<div class="container">

  <div class="almost-there">
    <h1>Almost there!</h1>
    <h2>Please tell us more about yourself and your company or project, so that other users can brainstorm ideas for you.</h2>
    
    <%= form_for(@user, :url => finish_signup_path(@user), :html => { role: 'form'}) do |f| %>
      
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          Oops! We'll need you to fix <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul> 
      </div>
    <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <div class="controls">
          <%= f.text_field :name, :autofocus => false, :value => current_user.name, class: 'form-control input-lg', placeholder: 'Your name' %>
        </div>

        <%= f.label :email %>
        <div class="controls">
          <%= f.text_field :email, :autofocus => true, :value => current_user.email, class: 'form-control input-lg', placeholder: 'your@email.com' %>
        </div>

        <%= f.label :twitter_handle %>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <%= f.text_field :twitter_handle, :autofocus => false, class: 'form-control input-lg', placeholder: 'Username' %>
          </div>
        </div>

        <%= f.label :company %>
        <div class="controls">
          <%= f.text_field :company, :autofocus => false,  class: 'form-control input-lg', placeholder: 'Name of your company or project' %>
        </div>

        <%= f.label :url %>
        <div class="controls">
          <div class="input-group">
            <span class="input-group-addon">http://</span>
            <%= f.text_field :url, :autofocus => false, class: 'form-control input-lg', placeholder: 'URL of your company or project' %>
            </div>
        </div>

        <%= f.label :problem_definition %>
        <div class="controls">
          <%= f.text_area :problem_definition, :autofocus => false, cols: 50, rows: 5, class: 'form-control input-lg', placeholder: 'Tell us more about your project. What is it about? What ideas are you looking for?' %>
        </div>

      </div>
      <div class="actions">
        <%= f.submit 'Done!', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>