<div class="container">
	<div class="row user-home-container">
		<div class="col-md-3 right-separator">
		
			<%= image_tag(profile_pic_url(current_user), class: "thumbnail center-block")  %>
			<h2><strong><%= current_user.name %></strong></h2>
			<div class="user-home-profile"><a target="_blank" href="<%= 'http://' + current_user.url %>"><%= current_user.company %></a></div>
			<% if current_user.twitter_handle != nil %>
				<div class="user-home-profile"><a target="_blank" href="<%= 'http://www.twitter.com/' + current_user.twitter_handle %>">@<%= current_user.twitter_handle %></a></div>
			<% end %>
			<div class="user-home-profile">
		  	<div id="quote">
					<%= current_user.problem_definition %>
				</div>
			</div>
			<p class="text-center">
    		<%= link_to "Edit", finish_signup_path(current_user), class: "highlight" %>
    	</p>

		</div>
		<div class="col-md-9">
			
			<h1>Welcome, <%= current_user.name.split[0] %>!</h1>
			<% if current_user.ideas.count > 0 %>
				<h2>You've posted <span class="highlight" ><%= current_user.ideas.count*10 %></span> ideas so far.</h2>	
				<h2><strong>Keep going!</strong></h2>
			<% else %>
				<h2>It's a fine day to start. Submit your first 10 ideas today!</h2>
			<% end %>			
		</div>
	</div>
</div>